<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>MyriadPro-Light.otf</string>
	</array>
	<key>CLIENT_ID</key>
	<string>714269691565-7sr4mknsolqqtpi6ilj5re7m1c10hc8b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.714269691565-7sr4mknsolqqtpi6ilj5re7m1c10hc8b</string>
	<key>API_KEY</key>
	<string>AIzaSyAsQbYNGBDZMqyB9x2hnB3z-zQyln7elM8</string>
	<key>GCM_SENDER_ID</key>
	<string>714269691565</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sample.Gentleman</string>
	<key>PROJECT_ID</key>
	<string>swivalry</string>
	<key>STORAGE_BUCKET</key>
	<string>swivalry.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:714269691565:ios:a059ebcd4f1b33b7</string>
	<key>DATABASE_URL</key>
	<string>https://swivalry.firebaseio.com</string>
</dict>
</plist>
